# =========================
# ENV / SECRETS
# =========================
.env
.env.*
*.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VIRTUAL ENV
# =========================
venv/
.env/
.venv/
ENV/
env/
venv.bak/

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# BUILD / DIST
# =========================
build/
dist/
*.egg-info/

# =========================
# TEST / COVERAGE
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/